body{
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }
  .header{
    font-size: 35px;
    background-color: aquamarine;
    text-align: center;
  }
  .main{
    
    border: 2px solid red;
  }
  
  .footer{
   position: absolute;
   /* margin-bottom: 0; */
   background-color: aquamarine;
   text-align: center;
   font-size: 35px;
   bottom: 0;
   width: 100%;
  }